.documentItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.myContent {
    font-size: 1.5rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .myP {
    font-size: 1rem;
    margin-bottom: 10px;
} */