.pricingSection {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
}

.pricingPlans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plan {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: left;
    width: 300px;
    height: 350px;
}

.planTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.planPrice {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #777;
}

.planFeatures {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
}

.planFeatures li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.ctaButton {
    padding: 0.8rem 1.5rem;
    background-color: #FFD700;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}